- if profile.geolocated?
  #profile-map.tab-pane.fade
    #map{ data: { geojson: profile_path(profile, format: :geojson),
                  profile_layer_title: Profile.model_name.human(count: 2),
                  center: profile.coordinates_array,
                  zoom: 6 } }
