%li.page-item{ class: current_page.last? ? 'disabled' : '' }
  = link_to t('kaminari.sisinta.pagination.last.icon'), url,
    remote: remote,
    class: 'page-link',
    title: t('kaminari.sisinta.pagination.last.text'),
    disabled: current_page.last?
