%li.page-item{ class: current_page.first? ? 'disabled' : '' }
  = link_to t('kaminari.sisinta.pagination.previous.icon'), url,
    rel: 'prev',
    remote: remote,
    class: 'page-link',
    title: t('kaminari.sisinta.pagination.previous.text'),
    disabled: current_page.first?
