-# Navigation menu for header bar, every section in the application should be
-# accessible through here.
.dropdown
  = link_to t('.languages.title'), '#', class: 'nav-item nav-link dropdown-toggle', data: { toggle: 'dropdown' }
  .dropdown-menu
    - I18n.available_locales.each do |locale|
      -# url_for reuses current path.
      = link_to locale, url_for(locale: locale), class: 'dropdown-item'
