-# Search form for navbar, reused for different viewports
= search_form_for @global_search, id: id, class: 'form-inline global-search' do |b|
  -# Always width 100% of container for input-group
  .input-group.w-100
    = b.text_field global_search_query, class: 'form-control border-light', placeholder: t('.search_by')
    %span.input-group-btn
      = b.button class: 'btn btn-light' do
        %span.fa.fa-search.fa-fw
